html, body, #info {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;

  width: 100%;

  top: 0;
  position: absolute;

  font-size: 12px;

  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.module-true {
  color: lightgreen;
}

.module-false {
  color: red;
}

.include {
  color: yellow;
}

.navigator {
  color: aqua;
}

.opera-adblock {
  color: fuchsia;
}

.easylist {
  color: tomato;
}

.UA-firefox {
  color: #e77f00;
}

.UA-chromium {
  color: limegreen;
}

.UA-chromium-mobile {
  color: cornflowerblue;
}

.UA-opera {
  color: #ffa599;
}

.status-chromium {
  color: darkred;
}

.opera-local-exploit {
  color: darkblue;
}

.var {
  color: darkgray;
}

.brave-shields {
  color: orange;
}

.ublock {
  color: #7f7f7f;
}
